.prep_go: &prep_go
  before_script:
    - export GL_URL=$(echo $CI_PROJECT_URL | awk -F/ '{print $3}')
    - export GO_PROJECT_PATH="$GOPATH/src/github.com/erraa/"
    - mkdir -p $GO_PROJECT_PATH
    - ln -s $(pwd) $GO_PROJECT_PATH
    - export GO_PROJECT_PATH="$GO_PROJECT_PATH/$CI_PROJECT_NAME"
    - cd $GO_PROJECT_PATH

variables:
    IMAGE_TAG: erraa/aciexporter:latest

stages:
    - build
    - test
    - docker_build
    - deploy
    - cleanup

go_build:
    <<: *prep_go
    stage: build
    image: golang:1.11
    tags:
        - aci
    script:
        - go get ./...
        - go build

go_test:
  <<: *prep_go
  stage: test
  image: golang:1.11
  tags:
    - aci
  script:
    - go get ./...
    - go test ./...

docker_build:
    stage: docker_build
    before_script:
        - docker login -u $CI_REGISTRY_USER -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    tags:
        - docker
    script:
        - docker build -t $IMAGE_TAG .
        - docker push $IMAGE_TAG
    only:
      - master
deploy:
    stage: deploy
    before_script:
        - docker login -u $CI_REGISTRY_USER -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    tags:
        - docker
    script:
        - docker rm aciexporter --force
        - docker run --restart unless-stopped -d -v /home/prometheus/aciexporter.yaml:/root/aciexporter.yaml -p 8383:8383 --name aciexporter erraa/aciexporter:latest
        - docker network connect prom-net aciexporter
    only:
      - master

cleanup:
  stage: cleanup
  tags:
      - docker
  script:
      - docker rmi $(docker images -f “dangling=true” -q)
  when: always
  only:
    - master
