.prep_go: &prep_go
  before_script:
    - export GL_URL=$(echo $CI_PROJECT_URL | awk -F/ '{print $3}')
    - export GO_PROJECT_PATH="$GOPATH/src/$GL_URL/$CI_PROJECT_NAMESPACE"
    - mkdir -p $GO_PROJECT_PATH
    - ln -s $(pwd) $GO_PROJECT_PATH
    - export GO_PROJECT_PATH="$GO_PROJECT_PATH/$CI_PROJECT_NAME"
    - cd $GO_PROJECT_PATH

variables:
    IMAGE_TAG: erraa/aciexporter:latest

stages:
    - build
    - docker_build
    - deploy

go_build:
    <<: *prep_go
    stage: build
    image: golang:1.11
    tags:
        - aci
    script:
        - go get ./...
        - go build

before_script:
    - docker login -u $CI_REGISTRY_USER -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY

docker_build:
    stage: docker_build
    tags:
        - docker
    script:
        - docker build -t $IMAGE_TAG .
        - docker push $IMAGE_TAG
deploy:
    stage: deploy
    tags:
        - docker
    script:
        - docker run -d -v /home/prometheus/aciexporter.yaml:/root/aciexporter.yaml -p 8383:8383 erraa/aciexporter
